html, body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
a {
  display: inline-block;
}
main {
  padding: 10px;
  box-sizing: border-box;
  min-height: calc(100svh - 150px);
  overflow: auto;
}
img {
  width: 100%;
}
.cf-turnstile {
  width: 300px;
  height: 65px;
  display: inline-block;
  overflow: hidden;
  background: #fafafa;
}
@media (prefers-color-scheme: dark) {
  .cf-turnstile {
    background: #232323;
  }
}
