header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 12px;
  background: rgb(255 255 255 / 80%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0px 2px 6px 0 rgb(0 0 0 / 10%);
  z-index: 100;
  display: flex;
  justify-content: space-between;
}
header a {
  color: inherit;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
.header-logo {
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  
}
.nav-list {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
