<h1>アカウントを削除</h1>

<div>
  <p>アカウントを削除すると関連するすべてのデータが削除されます。</p>

  <p>登録されているメールはこのサービスで再び使用することはできません。</p>

  <p>アカウントのデータをリセットしたいなど特殊な事情がある場合は、解決できる場合があるのでお問い合わせください。</p>

  <p>
    <strong>注意:</strong>
    <%= button_to "アカウントを削除する", account_delete_confirm_path, method: :delete, data: {turbo: false} %>
  </p>
</div>
