
<% content_for :title, "Documents" %>

<h1>Documents</h1>

<p>
  <%= link_to "New document", new_admin_document_path %>
</p>

<div id="documents">
  <% @documents.each do |document| %>
    <p>
      <%= render document %>
      <%= link_to "Show this document", admin_document_path(document) %>
    </p>
  <% end %>
</div>
