<h1>ANYUR</h1>
<h2>認証コードのお知らせ</h2>
<p>認証コード:</p>
<code>000000</code>
<p>認証コードの有効期限:</p>
<p>2025/02/04 02:10</p>

<style>
  code {
    background: #dddddd;
    padding: 10px;
    border-radius: 7px;
  }
</style>