<h1>ANYUR</h1>
<h2>パスワードを再設定</h2>
<p>再設定リンク:</p>
<div class="password-reset-url">
  <%= link_to account_reset_password_edit_url(email: @email, token: @token), account_reset_password_edit_url(email: @email, token: @token) %>
</div>
<p>再設定リンクの有効期限:</p>
<p>発行より10分間</p>

<style>
  .password-reset-url {
    font-size: 0.8em;
    word-break: break-all;
    background: #dddddd;
    padding: 10px;
    border-radius: 7px;
  }
  .password-reset-url a {
    color: inherit;
  }
</style>