
<% content_for :title, "Documents" %>

<h1>Documents</h1>

<div id="documents">
  <% @documents.each do |document| %>
    <%= document.name %>
    <p>
      <%= link_to "詳細へ", document_path(document.name_id) %>
    </p>
  <% end %>
</div>
