<% content_for :title, "文書一覧" %>

<h1>文書一覧</h1>

<div id="documents">
  <% @documents.each do |document| %>
    <%= document.title %>
    <p>
      <%= link_to "詳細へ", document_path(document.name_id) %>
    </p>
  <% end %>
</div>
