<% content_for :title, "メール認証完了" %>

<h1>メール認証完了</h1>

<p>メール認証が完了しました！</p>

<%= link_to "アカウント", account_path %>

<% if session[:forwarding_url] %>
  <br /><br />
  <%= link_to "サインイン前にアクセスしたかったページへ", session.delete(:forwarding_url) %>
<% end %>
