<% content_for :title, "メール認証の確認" %>

<h1>メール認証の確認</h1>

<% if @current_account.email.present? %>
  <p><strong><%= @current_account.email %></strong></p>
  <p>上記のメールに認証コードを送信します。よろしければ<%= link_to "こちら", verify_email_code_path(send_code: true) %></p>
<% else %>
  <p>メールアドレスが登録されていません。まずはメールアドレスを登録してください。</p>
<% end %>

<p>メールを変更する場合は<%= link_to "こちら", verify_email_change_path %></p>
<p><%= button_to "サインアウト", signout_path, method: :delete, data: { turbo: false } %></p>
