
<% content_for :title, "Services" %>

<h1>Services</h1>

<div>
  <% @services.each do |service| %>
    <%= service.name %>
    <p>
      <%= link_to "詳細へ", service_path(service.name_id) %>
    </p>
  <% end %>
</div>
