<header>
  <%= link_to(root_path) do %>
    <div class="header-logo">
      ANYUR
    </div>
  <% end %>
  <nav>
    <% if @current_account %>
      <%= link_to(accounts_path) do %>
        <div class="nav-list">
          アカウント
        </div>
      <% end %>
    <% else %>
      <%= link_to(signin_path) do %>
        <div class="nav-list">
          サインイン
        </div>
      <% end %>
    <% end %>
  </nav>
</header>