<header>
  <%= link_to(root_path) do %>
    <div class="header-logo">
      ANYUR
    </div>
  <% end %>
  <nav>
    <%= link_to(signin_path) do %>
      <div class="nav-list">
        アカウント
      </div>
    <% end %>
  </nav>
</header>