<header>
  <%= link_to(@current_account ? home_path : root_path) do %>
    <div class="header-logo">
      ANYUR
    </div>
  <% end %>
  <nav>
    <%= link_to(@current_account ? account_path : signin_path) do %>
      <div class="nav-list">
        <%= @current_account ? "アカウント" : "サインイン" %>
      </div>
    <% end %>
  </nav>
</header>