<header>
  <%= link_to(root_path) do %>
    <div class="header-logo">
      ANYUR
    </div>
  <% end %>
  <nav>
    <%= link_to(contact_path) do %>
      <div class="nav-list">
        ログイン
      </div>
    <% end %>
  </nav>
</header>