<% content_for :title, "パスワードリセットリクエスト完了" %>

<h1>パスワードリセットリクエスト完了</h1>

<p>パスワードリセットリクエストを受け付けました。</p>
<p>メール: <strong><%= params.dig("account", "email") %></strong></p>
<p>メールが迷惑フォルダに入っている場合があります。ご確認ください。</p>
<p>メールが認証済みでない場合は届かない可能性があります。</p>
<p>メールが届かない場合は登録されていない可能性があります。</p>
