<% content_for :title, "Editing service" %>

<h1>Editing service</h1>

<%= render "form", service: @service %>

<br>

<div>
  <%= link_to "Show this service", admin_service_path(@service) %> |
  <%= link_to "Back to services", admin_services_path %>
</div>
